@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Poppins:wght@300&display=swap');

body{
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;

}
#astronaut-1{
    width: 400px;
    position: absolute;
    top: 4%;
    left: 5%;
    animation: floating 5s infinite;
}
#astronaut-2{
    width: 400px;
    position: absolute;
    top: 25%;
    left: 30%;
    animation: floating 5s infinite;
}
@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(50px);
    }
}
form{
    position: absolute;
    top: 15%;
    left: 65%;
    right: 20%;
    width: 250px;
    bottom: 15%;
    padding: 0 50px;
    background-color: white;
    border-radius: 3%;
    
    
    
}
.display-block{
    display: block;
}
label{
    font-size: 80%;
    margin: 10px 0 0px 0;

}
h1{
    font-size: 25px;
    width: 275px;
    text-align: center;
    margin: 20px auto;
}
input[type="text"],[type="email"],select{
    width: 167px;
    height: 20px;
    border: 1px solid black;
    padding: 0px;
    margin: auto;
    
}

input[type="submit"]{
    background-color: #E37737;
    color: white;
    padding: 15px 25px;
    border: none;
    margin: 20px auto;
    border-radius: 20px;
    

}